$fdsws-color-grey-000: #000000;
$fdsws-color-grey-100: #181717;
$fdsws-color-grey-200: #312e2e;
$fdsws-color-grey-300: #494747;
$fdsws-color-grey-400: #626060;
$fdsws-color-grey-500: #7a7a7a;
$fdsws-color-grey: #7a7a7a;
$fdsws-color-grey-600: #959595;
$fdsws-color-grey-700: #afafaf;
$fdsws-color-grey-800: #cacaca;
$fdsws-color-grey-900: #e4e4e4;
$fdsws-color-grey-1000: #ffffff;
$fdsws-spacing-col-0: 0%;
$fdsws-spacing-col-0-3: 2.7775%;
$fdsws-spacing-col-0-4: 2.0833%;
$fdsws-spacing-col-0-6: 4.1667%;
$fdsws-spacing-col-0-8: 6.25%;
$fdsws-spacing-col-0-9: 5.555%;
$fdsws-spacing-col-1: 8.3333%;
$fdsws-spacing-col-1-3: 11.1108%;
$fdsws-spacing-col-1-4: 10.4167%;
$fdsws-spacing-col-1-6: 12.5%;
$fdsws-spacing-col-1-8: 14.5833%;
$fdsws-spacing-col-1-9: 13.8883%;
$fdsws-spacing-col-2: 16.6667%;
$fdsws-spacing-col-2-3: 19.4442%;
$fdsws-spacing-col-2-4: 18.75%;
$fdsws-spacing-col-2-6: 20.8333%;
$fdsws-spacing-col-2-8: 22.9167%;
$fdsws-spacing-col-2-9: 22.2217%;
$fdsws-spacing-col-3: 25%;
$fdsws-spacing-col-3-3: 27.7775%;
$fdsws-spacing-col-3-4: 27.0833%;
$fdsws-spacing-col-3-6: 29.1667%;
$fdsws-spacing-col-3-8: 31.25%;
$fdsws-spacing-col-3-9: 30.555%;
$fdsws-spacing-col-4: 33.3333%;
$fdsws-spacing-col-5: 41.6667%;
$fdsws-spacing-col-6: 50%;
$fdsws-spacing-col-7: 58.3333%;
$fdsws-spacing-col-8: 66.6667%;
$fdsws-spacing-col-9: 75%;
$fdsws-spacing-col-10: 83.3333%;
$fdsws-spacing-col-11: 91.6667%;
$fdsws-spacing-col-12: 100%;
$fdsws-spacing-colvw-0: 0vw;
$fdsws-spacing-colvw-0-3: 2.7775vw;
$fdsws-spacing-colvw-0-4: 2.0833vw;
$fdsws-spacing-colvw-0-6: 4.1667vw;
$fdsws-spacing-colvw-0-8: 6.25vw;
$fdsws-spacing-colvw-0-9: 5.555vw;
$fdsws-spacing-colvw-1: 8.3333vw;
$fdsws-spacing-colvw-1-3: 11.1108vw;
$fdsws-spacing-colvw-1-4: 10.4167vw;
$fdsws-spacing-colvw-1-6: 12.5vw;
$fdsws-spacing-colvw-1-8: 14.5833vw;
$fdsws-spacing-colvw-1-9: 13.8883vw;
$fdsws-spacing-colvw-2: 16.6667vw;
$fdsws-spacing-colvw-2-3: 19.4442vw;
$fdsws-spacing-colvw-2-4: 18.75vw;
$fdsws-spacing-colvw-2-6: 20.8333vw;
$fdsws-spacing-colvw-2-8: 22.9167vw;
$fdsws-spacing-colvw-2-9: 22.2217vw;
$fdsws-spacing-colvw-3: 25vw;
$fdsws-spacing-colvw-3-3: 27.7775vw;
$fdsws-spacing-colvw-3-4: 27.0833vw;
$fdsws-spacing-colvw-3-6: 29.1667vw;
$fdsws-spacing-colvw-3-8: 31.25vw;
$fdsws-spacing-colvw-3-9: 30.555vw;
$fdsws-spacing-colvw-4: 33.3333vw;
$fdsws-spacing-colvw-5: 41.6667vw;
$fdsws-spacing-colvw-6: 50vw;
$fdsws-spacing-colvw-7: 58.3333vw;
$fdsws-spacing-colvw-8: 66.6667vw;
$fdsws-spacing-colvw-9: 75vw;
$fdsws-spacing-colvw-10: 83.3333vw;
$fdsws-spacing-colvw-11: 91.6667vw;
$fdsws-spacing-colvw-12: 100vw;